{% extends 'parent/base.html' %}
{% block title %}post list{% endblock %}
{% block content %}
    <h1>post list</h1>
<ol style="--length: {{ posts|length }}" role="list">
    {% if category %}
        <h1><a href="{% url 'blog:post_list' %}">post lists{{ category }}</a></h1>
    {% else %}
    <h1><a href="{% url 'blog:post_list' %}">post list</a></h1>
    {% endif %}
    {% for post in posts %}
        <li style="--i: {{ forloop.counter }}">
       <h3>
       <a href="{{ post.get_absolute_url }}" >{{ post.title }}</a>
       </h3>
        <p class="descr">{{ post.description | truncatewords:2 }}</p>
        <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title.url }}">
        </li>
    {% endfor %}
</ol>
{% include "partials/pagination.html" with page=posts %}


{% endblock %}